Repository heliopython/heliopy, pull requests merged in 2019-03, with the labels that each got.

#661 Properly set SPICE_SETUP flag
  heliopy/data/spice.py
  heliopy/spice.py
Labels: Spice

#663 Update changes for 0.6.5
  CHANGES.rst
Labels: Docs

#664 Fix mms unit warnings
  heliopy/data/mms.py
  heliopy/data/test/test_data.py
Labels: Data import

#665 Add request for bug reporting when units are missing
  heliopy/data/util.py
Labels: Units

#675 Add get_cdas_url method
  heliopy/data/cdasrest.py
Labels: Data import

#660 Add custom transformation graph
  .circleci/config.yml
  heliopy/coordinates/frames.py
  requirements/base.txt
  requirements/docs.txt
Labels: Docs

#677 Added in STEREO B kernels
  heliopy/data/spice.py
Labels: Needs changelog, Spice

#678 Add helios distribution function test coverage
  heliopy/data/helios.py
  heliopy/data/spice.py
  heliopy/data/test/test_data.py
Labels: Data import, Testing
