Repository heliopython/heliopy, pull requests merged in 2020-05, with the labels that each got.

#879 Update solo kernel
  CHANGES.rst
  heliopy/data/spice.py
  heliopy/spice/test/test_spice.py
Labels: Spice

#884 Add 0.11.0 changelog
  CHANGES.rst
  changelog/868.feature.rst
  changelog/873.feature.rst
  changelog/876.feature.rst
  changelog/879.feature.rst
  changelog/882.feature.rst
Labels: Docs

#896 Add PSP 4 samples/cycle download routine
  heliopy/data/psp.py
  heliopy/data/test/test_psp.py
Labels: Data import

#897 Add 0.11.1 changelog
  changelog/894.doc.rst
  changelog/896.feature.rst
Labels: Docs
