Repository heliopython/heliopy, pull requests merged in 2020-04, with the labels that each got.

#870 Only have one CI data test
  .travis.yml
  heliopy/data/test/test_ace.py
  heliopy/data/test/test_artemis.py
  heliopy/data/test/test_cassini.py
  heliopy/data/test/test_cluster.py
  heliopy/data/test/test_dscovr.py
  heliopy/data/test/test_helios.py
  heliopy/data/test/test_imp.py
  heliopy/data/test/test_messenger.py
  heliopy/data/test/test_mms.py
  heliopy/data/test/test_omni.py
  heliopy/data/test/test_psp.py
  heliopy/data/test/test_sunspot.py
  heliopy/data/test/test_ulysses.py
  heliopy/data/test/test_wind.py
  setup.cfg
Labels: Testing

#871 Add __eq__ and __repr__ to Body
  heliopy/spice/__init__.py
  heliopy/spice/test/test_spice.py
Labels: Spice

#873 Add aberration correction option
  changelog/873.feature.rst
  heliopy/data/spice.py
  heliopy/spice/__init__.py
Labels: Needs changelog, Spice

#874 Change doc default role
  doc/source/conf.py
Labels: Docs

#872 Add a kernel class
  .travis.yml
  CHANGES.rst
  examples/plot_spice_orbit.py
  heliopy/data/spice.py
  heliopy/spice/__init__.py
  heliopy/spice/test/test_spice.py
Labels: Spice

#876 Cassinibranch
  heliopy/data/spice.py
Labels: Enhancement, Needs changelog, Spice
